header{
    text-align: center;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #4676A9;
    text-align: center;
}

h2{
    color: #cb731c;
}

footer{
    background-color: #22466c;
    color: white;
}